

#app-wrapper {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    display: flex;  /*enables flex content for its children*/
    flex-direction: column;
    box-sizing: border-box;
}

.top{
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height:80px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    img{
        width: 150px;
        height: 75px;
        margin: 0;
        padding: 0;
    }
    
    
    .toggles{
        margin-right:50px;  
        display:none;  
        
        .fas{
            display: none;
        }
    }
}

.bottom {
    display: flex;
    overflow-y: auto; 
    flex-direction: row; 
    height:calc(100vh - 80px);
  // background-color: red;

    #right{       
        flex-grow: 1;
        background-color: red;
        padding-left:25px;
    }
    
    #left{
        background-color: blue;       
    }
}

@media (max-width: 576px) { 
    .top{
        .toggles{
            display: block;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
    }

    #left{
        display: none;
       
    }

    app-social{
        display:none;
       
    }
 }



.show-me{
   display: flex !important;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
}