@import "../variables.scss";

#app-wrapper {
    height: 100%;   
    max-width: 1600px;
    margin:0 auto;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    display: flex;  /*enables flex content for its children*/
    flex-direction: column;
    box-sizing: border-box;
}

.top{
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height:80px;
    background-color: $topBackground;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    img{
        width: 150px;
        height: 75px;
        margin: 0;
        padding: 0;
    }
    
    
    .toggles{
        margin-right:50px;  
        display:none;  
        
        i{
            display: none;
            color:$primaryIconColor;
            font-size:24px;
        }
    }
}

.bottom {
    display: flex;
   
    height: calc(100vh - 80px);
    position: relative;

    #right{       
        flex-grow: 1;
        background-color: $background;
        padding-left:20px;
        padding-top:20px;
        overflow-y: auto; 
    }
    
    #left{
        flex-shrink: 0;
        background-color: $sideBackground;      
    }
}

@media (max-width: 576px) { 
    .top{
        .toggles{
            display: block;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
    }

    #left{
        display: none;
        box-shadow: 50px 0 100px rgba(0,0,0,.8);
       
    }

    app-social{
        display:none;
       
    }
 }



.show-me{
   display: flex !important;
   
  /*  -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s; */
}