.side-list{
        display: flex;
        flex-direction: column;
        padding:0;
        margin:0;
        a{
            background-color: lightblue;  
            text-decoration: none;
            color:black;

            .side-link{
                width: auto;
                padding:20px;

                .fas{
                    padding-right:5px;
                    display: inline;
                }
            }
        }
        a:hover{
            background-color: cornflowerblue;
            text-decoration: none;
            color:white;

            .side-link{
                font-weight: bold;
                font-size:1.1em;
            }           
        }
        .side-social{
                width:100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-between;
                a{
                    padding:10px 0 10px 20px;                  
                }
        }

    @media (min-width: 575.98px) { 
       .side-social{
           display: none;
       }
     }

     @media (max-width: 575.98px) { 
        .link-text{
            display:inline;
         }
      }   
   
    @media (max-width: 1199.98px) { 
       .link-text{
           display:none;
        }
       
     }
     @media (max-width: 575.98px) { 
        .link-text{
            display:inline;
         }
      }
     
}
.side-list:hover{
    .link-text{
        display: inline;
    }
}