<div>
  <ul>
    <li [routerLinkActive]="'isActive'">
      <a [routerLink]="['/home']" [routerLinkActive]="'isActive'">Home</a>
    </li>
    <li [routerLinkActive]="'isActive'">
      <a [routerLink]="['/about']" [routerLinkActive]="'isActive'">About</a>
    </li>
    <li [routerLinkActive]="'isActive'">
      <a [routerLink]="['/blog']" [routerLinkActive]="'isActive'">Blog</a>
    </li>
    <li [routerLinkActive]="'isActive'">
      <a [routerLink]="['/contact']" [routerLinkActive]="'isActive'">Contact</a>
    </li>
    <li [routerLinkActive]="'isActive'">
      <a [routerLink]="['/impact']" [routerLinkActive]="'isActive'">Impact</a>
    </li>
  </ul>
</div>
