<div class="side-list">
    
      <a [routerLink]="['/home']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fab fa-houzz"></i>
          <span class="link-text">Home</span>
        </div>       
      </a>
        
      <a [routerLink]="['/about']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fab fa-stack-exchange"></i>
          <span class="link-text">About</span>
        </div>  
      </a>
       
      <a [routerLink]="['/blog']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-blog"></i> 
          <span class="link-text">Blog</span>
        </div>
      </a>
          
      <a [routerLink]="['/contact']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-envelope"></i> 
          <span class="link-text">Contact</span>
        </div>  
      </a>
       
      <a [routerLink]="['/impact']" [routerLinkActive]="'isActive'">
        <div class="side-link">
          <i class="fas fa-bullseye"></i> 
          <span class="link-text">Impact</span>
        </div>  
      </a>
      <div class="side-social">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
      </div>
</div>
