$headerColor: white;
$textColor:white;
$primaryIconColor: #aaa;
$altIconColor:green;
$primaryBtnColor:yellow;
$primaryBtnText:gray;
$altBtnColor:blue;
$altBtnText:white;
$background:#222;
$topBackground:#2d2d2d;
$sideBackground:#2d2d2d;
$sideTextColor:#aaa;
$altSideBackground:#222222;
$altSideTextColor:#ffffff;