$headerColor: #f15b2a;
$textColor:#eeeeee;
$primaryIconColor: purple;
$altIconColor:green;
$primaryBtnColor:yellow;
$primaryBtnText:gray;
$altBtnColor:blue;
$altBtnText:white;
$background:#000000;
$topBackground:#2e2e2e;
$sideBackground:#2e2e2e;
$sideTextColor:#eeeeee;
$altSideBackground:#222222;
$altSideTextColor:#ffffff;